/* ================================ */
/* = Textured Rounded bezel style = */
/* ================================ */
.vn-button.bordered.textured-rounded .left {
  background-position: 0px 0px;
}

.vn-button.bordered.textured-rounded .middle {
  background-position: 0px -52px;
}

.vn-button.bordered.textured-rounded .right {
  background-position: 0px -26px;
}

/* disabled  - need to swap out URLs for their positions in controls.png*/
.vn-button.bordered.textured-rounded.disabled .left {
  background: url('resources/button_disabled_left.png');
}

.vn-button.bordered.textured-rounded.disabled .middle {
  background: url('resources/button_disabled_middle.png');
}

.vn-button.bordered.textured-rounded.disabled .right {
  background: url('resources/button_disabled_right.png');
}

/* highlighted */
.vn-button.bordered.textured-rounded.highlighted .left {
  background-position: -10px 0px;
}

.vn-button.bordered.textured-rounded.highlighted .middle {
  background-position: 0px -78px;
}

.vn-button.bordered.textured-rounded.highlighted .right {
  background-position: -10px -26px;
}
