[submodule "cherry_kit"]
	path = cherry_kit
	url = git://github.com/adambeynon/cherry_kit.git
[submodule "platforms/web/opal"]
	path = platforms/web/opal
	url = git://github.com/adambeynon/opal.git
[submodule "cappruby"]
	path = cappruby
	url = git://github.com/adambeynon/cappruby.git
