.ns-window {
  background: rgb(243, 245, 245);
}

.ns-window.rounded {
/*  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;*/
}

.ns-window.shadow {
/*  -webkit-box-shadow: rgba(0, 0, 0, 0.496094) 0px 5px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.496094) 0px 5px 10px;*/
}

.ns-window-main-menu {
  background: url('resources/main_menu_black_gradient.png') repeat-x;
}