.vn-check-box {
  position: absolute;
  display: block;
}

.vn-check-box .title {
  position: absolute;
  text-align:center;
  cursor: default;
  text-decoration: none;
  text-shadow: rgba(206, 214, 221, 0.644) 0px 1px 0px;
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: rgb(79, 79, 79);
  
}

/*off state*/
.vn-check-box .image {
  position: absolute;
  text-align:center;
  width: 15px;
  height: 15px;
  background-image: url('images/check_box_off_normal.png');
}

.vn-check-box.on .image {
  background-image: url('images/check_box_on_normal.png');
  width: 16px;
  height: 16px;
}

.vn-check-box.mixed .image {
  background-color: yellow;
}

/* Disabled */
.vn-check-box.disabled .image {
  background-color: red;
}

.vn-check-box.disabled.on .image {
  background-color: purple;
}

.vn-check-box.disabled.mixed .image {
  background-color: orange;
}
