




.ck-button {
  border: 1px #545454 solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  vertical-align: middle;
  background-color: rgb(230,230,230);
}

.ck-button.disabled {
  background-color: rgb(190,190,190);
}

.ck-button.highlighted {
  background-color: rgb(200, 200, 200);
}

.ck-button .label {
  text-align: center;
  position: relative;
  display: block;
  line-height: 22px;
}
/* 
 * foundation.css
 * vienna
 * 
 * Created by Adam Beynon.
 * Copyright 2010 Adam Beynon.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
 
body {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  position: absolute;
  margin: 0px;
}

.ck-view {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.4;
  cursor: default;
  overflow: hidden;
  /* Three methods of stopping text selection across browsers */
  user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
}

.ck-view body,
.ck-view div {
  margin: 0px;
  padding: 0px;
}

.ck-scroll-view .horizontal {
  left: 5px;
  right: 5px;
  bottom: 5px;
  height: 5px;
  
  position: absolute;
  z-index: 2;
  
}

.ck-scroll-view .horizontal .scroller {
  width: 100%;
  left: 0%;
  height: 100%;
  background: black;
  border-radius: 4px;
  -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	position: absolute;
}.ck-view.ck-scroll-view {
  background: rgb(220, 220, 220);
}
.ck-view.ck-scroller {
  background: rgb(185, 185, 185);
}.ck-view.ck-slider.regular {
  
}.ck-slider {
  height: 16px;
}

.ck-slider .inner {
  position: absolute;
  left: 7px;
  right: 7px;
  height: 5px;
  top: 5px;
  background: rgb(160,160,160);
  border-radius: 3px;
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.ck-slider .handle {
  height: 14px;
  width: 14px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	background: rgb(64, 64, 64);
	position: absolute;
	top: -4px;
	margin-left: -7px;
}
.ck-view.ck-outline-view {
  background: rgb(223, 227, 234);
}/*.ck-view.ck-table-view .ck-view.selected {*/
/*  color: white;*/
/*}*/

/* Selected rows background */
.ck-view.ck-table-view .rows .row.selected {
  background: rgb(127, 150, 185);
}

/* Grid lines */
/*.ck-view.ck-table-view .rows .row {
  margin-top: -1px;
  border-bottom: 1px solid #999;
}
*/
.ck-view.ck-text-field {
  border: none;
  overflow: visible;
  background: white;
}

.ck-text-field .border {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

/* safari */
.safari .ck-text-field .border {
  -webkit-appearance: textfield;
}

/* internet explorer */
.msie .ck-text-field .border {
  border: 1px inset;
}

.ck-text-field .padding {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 3px;
  left: 3px;
}

.ck-text-field input {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  vertical-align: middle;
  background: transparent;
  line-height: 100%;
}

.msie .ck-text-field input {
  padding-bottom: 1px;
}

/* safari */
.ck-text-field input {
  border: none;
  outline: none;
  -webkit-appearance: none;
}


/* ========================= */
/* = Rounded look and feel = */
/* ========================= */

.safari .ck-text-field.rounded .border {
  -webkit-appearance: searchfield;
}

.safari .ck-text-field.rounded .padding {
  left: 10px;
  right: 10px;
}
