<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CPBundleIdentifier</key>
    <string>com.adambeynon.Vienna</string>
    <key>CPBundleInfoDictionaryVersion</key>
    <integer>6</integer>
    <key>CPBundleName</key>
    <string>Vienna</string>
    <key>CPBundlePackageType</key>
    <string>FMWK</string>
    <key>CPBundleVersion</key>
    <string>0.1</string>
    <key>CPBundleEnvironments</key>
    <array>
      <string>ObjJ</string>
    </array>
  </dict>
</plist>
